.c-header {
  width: 200px;
  height: 100vh;
  padding: 100px 0 0 0;
  display: flex;
  justify-content: center;
  background-color: $colorShironeri;
  z-index: 1;
  &__title {
    font-size: 1.5rem;
    font-weight: bold;
    letter-spacing: 0.2rem;
    writing-mode: vertical-lr;
    color: $colorKon;
  }
  &__snsList {
    position: absolute;
    // left: 45px;
    bottom: 30px;
    display: flex;
    justify-content: space-between;
    &-icon {
      width: 50px;
    }
  }
}
