.c-heading {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  height: 60vh;

  &__info {
    letter-spacing: 0.2em;
    line-height: 2;
    writing-mode: vertical-rl;
    text-orientation: upright;
  }

  &__title {
    font-size: 3.5rem;
    font-weight: bold;
  }

  &__text {
    height: 13em;
    margin-right: 20px;
    font-size: 2rem;
  }
}
