.c-heading {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  height: 500px;

  @include mq {
    height: 300px;
  }

  &__info {
    letter-spacing: 0.2em;
    line-height: 2;
    writing-mode: vertical-rl;
    text-orientation: upright;
  }

  &__title {
    font-size: 3.5rem;
    font-weight: bold;
    @include mq {
      font-size: 3rem;
    }
  }

  &__text {
    height: 13em;
    margin-right: 20px;
    font-size: 2rem;
    @include mq {
      height: 11em;
      font-size: 1.5rem;
    }
  }
}
