.c-scrollDown {
  // 描画位置
  position: absolute;
  left: 50%;
  bottom: 10px;
  // 高さ
  height: 100px;

  // 線
  &::after {
    content: '';
    // 位置
    position: absolute;
    top: 0;
    // 形状
    width: 1px;
    height: 100px;
    background: #000;
    // 線の動き1.4秒かけて動く。永遠にループ
    animation: pathmove 2.4s ease-in-out infinite;
    opacity: 0;
  }

  &--arrow {
    position: absolute;
    right: 50%;
    bottom: 1px;

    animation: arrowmove 1s ease-in-out infinite;
    & > span {
      // 位置
      position: absolute;
      left: -20px;
      bottom: 10px;
      // text
      color: $colorWhite;
      font-size: 0.7rem;
      letter-spacing: 0.05em;
      color: #eee;
    }
    &::before {
      content: '';

      position: absolute;
      bottom: 0;
      right: -6px;

      // katati
      width: 1px;
      height: 20px;
      background: #eee;
      transform: skewX(-31deg);
    }

    &::after {
      content: '';

      // iti
      position: absolute;
      bottom: 0;
      right: 0;

      // katati
      width: 1px;
      height: 50px;
      background: #eee;
    }
  }
}

@keyframes pathmove {
  0% {
    height: 0;
    top: 0;
    opacity: 0;
  }
  30% {
    height: 100px;
    opacity: 1;
  }
  100% {
    height: 0px;
    top: 150px;
    opacity: 0;
  }
}
@keyframes arrowmove {
  0% {
    bottom: 1%;
  }
  50% {
    bottom: 3%;
  }
  100% {
    bottom: 1%;
  }
}
