.text {
  &-move {
    opacity: 0;
    display: inline-block;
    transform: translate(0, 150px);
    letter-spacing: 0.3rem;
  }

  &--small {
    font-size: 5rem;
    letter-spacing: 0.1rem;

    @include mq {
      font-size: 3rem;
    }
  }
}
