.text {
  &-move {
    opacity: 0;
    display: inline-block;
    transform: translate(0, 150px);
    letter-spacing: 0.3rem;
  }

  &--small {
    font-size: 5rem;
    letter-spacing: 0.1rem;
  }
}

@media screen and (max-width: 640px) {
  .wrap {
    width: 100%;
  }
  .text-move {
    font-size: 30px;
  }
}
