<% var title = "TOP"; var description = "トップのdescription"; %> <% include
src/ejs/template/_head %>
<div class="c-splash">
  <div class="c-splash__text"></div>
  <div class="loader_cover loader_cover--up"></div>
  <div class="loader_cover loader_cover--down"></div>
</div>

<% sns = [ {title: 'twitter',link: '#'}, {title: 'facebook',link: '#'}, {title:
'github',link: '#'}, ]; %>

<header class="c-header">
  <h1 class="c-header__title">コバヤシショウゴのポートフォリオ</h1>
  <ul class="c-header__sns">
    <% sns.forEach(function(item){ %>
    <a href="<%= item.link %> ">
      <li>
        <img
          class="c-header__sns-icon"
          src="./assets/images/icons/<%= item.title %>.svg"
          alt="<%= item.title %> "
        />
      </li>
    </a>
    <% }) %>
  </ul>
</header>

<!-- <h1>トップページへようこそ！！</h1>
<a href="/about">to about</a> -->
<div class="p-home">
  <p class="p-home__title font-Logotype js-fadeTitle-view">旅する日本</p>
</div>

<div class="p-point">
  <p>魅力？</p>
</div>
<% include src/ejs/template/_footer %>
