.p-footer {
  width: 100%;
  padding: 40px;

  &__area {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin: 0 auto;
  }

  &__title {
    font-size: 2rem;
    letter-spacing: 0.1rem;
  }

  &__text {
    font-size: 1.5rem;
  }

  &__box {
    display: flex;
    justify-content: space-between;
    align-items: center;

    & > img {
      width: 50px;
      margin-right: 10px;
    }
  }
}
