.p-food {
  position: relative;
  margin-bottom: 100px;

  &__bg {
    width: 100%;
    height: 50vh;
    position: relative;
    background: url('#{$bgPath}sushi-ball.jpg') no-repeat center;
    background-size: cover;
    background-attachment: fixed;
  }

  &__list {
    & > :nth-of-type(2n) {
      flex-direction: row-reverse;
    }

    &__img {
      object-fit: cover;
      height: 100%;
      width: 50%;
      border: 1px solid $colorBlack;
    }

    &__descript {
      width: 50%;
      writing-mode: vertical-rl;
      text-orientation: upright;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    &__title {
      margin-left: 1.5em;
      font-size: 2rem;
      font-weight: bold;
    }

    &__text {
      height: 13em;
      font-size: 1rem;
      line-height: 2.5;
    }

    & > li {
      height: 300px;
      display: flex;
      justify-content: space-between;

      &:nth-of-type(n + 2) {
        opacity: 0.4;
      }

      &:hover {
        transition: all 0.8s;
        opacity: 1;
      }
    }
  }
}
