.p-header {
  display: flex;
  justify-content: center;
  position: relative;
  padding: 100px 0 0 0;
  height: 100vh;

  &__title {
    font-size: 2.5rem;
    font-weight: bold;
    letter-spacing: 0.1rem;
    writing-mode: vertical-rl;
  }

  &__snsList {
    display: flex;
    justify-content: space-between;
    position: absolute;
    bottom: 30px;
  }

  &__img {
    width: 50px;
  }
}
