.p-header {
  position: relative;
  padding: 100px 0 0 0;
  height: 100vh;
  display: flex;
  justify-content: center;

  &__title {
    font-size: 1.5rem;
    font-weight: bold;
    letter-spacing: 0.1rem;
    writing-mode: vertical-rl;
  }

  &__snsList {
    position: absolute;
    bottom: 30px;
    display: flex;
    justify-content: space-between;

    &__item {
      & > a > img {
        width: 50px;
      }
    }
  }
}
